@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form  class="card p-4 alert-primary">
    <p><strong>Set Api Url:</strong> This API is for subreddits only the decault URL is http://reddit.com/r/aww/.json any provided url will be ignored unless it is in similar format...</p>
    <label class="col-form-label text-center" >ENTER U R L</label>
    <input  class="form-control" placeholder="http://reddit.com/r/aww/.json" type="text" />
    <input type="submit" class="btn btn alert-info mt-2"/>
</form>