@model CategoryVM

@{
    ViewData["Title"] = "Create";
}

<h1>View</h1>

<h4>AwwCategoryDT</h4>
<hr />
<p class="text-sm-start text-decoration-underline">ex: Clown Porn</p>
<img height="200px" width="200px" src="https://imgur.com/27dIXH4.jpg" />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn alert-info mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        body {
            background: linear-gradient(120deg,transparent,orange 99%);
        }

    </style>
}
